<a href="https://colab.research.google.com/github/MeleshenkovaAA/-/blob/main/%D0%9E%D0%B1%D0%B7%D0%BE%D1%80_%D1%82%D0%B8%D0%BF%D0%BE%D0%B2_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data_types.csv')

In [8]:
df.head()

   Customer Number     Customer Name         2016  ... Day  Year Active
0          10002.0  Quest Industries  $125,000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920,000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50,000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350,000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15,000.00  ...   2  2014      N

[5 rows x 10 columns]

In [9]:
df['2016'] + df['2017']

0      $125,000.00$162500.00
1    $920,000.00$101,2000.00
2        $50,000.00$62500.00
3      $350,000.00$490000.00
4        $15,000.00$12750.00
dtype: object

In [10]:
df.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [12]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [13]:
!ls -l /usr/bin/python3

lrwxrwxrwx 1 root root 25 Nov 18 14:16 /usr/bin/python3 -> /etc/alternatives/python3

In [14]:
df['Customer Number'].astype('int')

0     10002
1    552278
2     23477
3     24900
4    651029
Name: Customer Number, dtype: int64

In [15]:
df["Customer Number"] = df['Customer Number'].astype('int')
df.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [16]:
df

   Customer Number     Customer Name         2016  ... Day  Year Active
0            10002  Quest Industries  $125,000.00  ...  10  2015      Y
1           552278    Smith Plumbing  $920,000.00  ...  15  2014      Y
2            23477   ACME Industrial   $50,000.00  ...  29  2016      Y
3            24900        Brekke LTD  $350,000.00  ...  27  2015      Y
4           651029         Harbor Co   $15,000.00  ...   2  2014      N

[5 rows x 10 columns]

In [18]:
df['2016'].astype('float')

ValueError: ignored

In [19]:
df['Jan Units'].astype('int')

ValueError: ignored

In [20]:
df['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [21]:
df.astype({'Customer Number': 'int', 'Customer Name': 'str'}).dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [22]:
def convert_currency(val):
    """
    Преобразует числовое значение строки в число с плавающей точкой:
     - удаляет $
     - удаляет запятые
     - преобразует в число с плавающей точкой
    """
    new_val = val.replace(',', '').replace('$', '')
    return float(new_val)

In [23]:
df['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [24]:
df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [25]:
df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)

df.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [26]:
df['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [27]:
def convert_percent(val):
    """
    Преобразование процентной строки в фактический процент с плавающей точкой:
     - Удаляет %
     - Делит на 100, чтобы получить десятичную дробь
    """
    new_val = val.replace('%', '')
    return float(new_val) / 100

In [28]:
df['Percent Growth'] = df['Percent Growth'].apply(convert_percent)

In [29]:
df

   Customer Number     Customer Name      2016  ...  Day  Year Active
0            10002  Quest Industries  125000.0  ...   10  2015      Y
1           552278    Smith Plumbing  920000.0  ...   15  2014      Y
2            23477   ACME Industrial   50000.0  ...   29  2016      Y
3            24900        Brekke LTD  350000.0  ...   27  2015      Y
4           651029         Harbor Co   15000.0  ...    2  2014      N

[5 rows x 10 columns]

In [30]:
df["Active"] = np.where(df["Active"] == "Y", True, False)

In [31]:
df

   Customer Number     Customer Name      2016  ...  Day  Year Active
0            10002  Quest Industries  125000.0  ...   10  2015   True
1           552278    Smith Plumbing  920000.0  ...   15  2014   True
2            23477   ACME Industrial   50000.0  ...   29  2016   True
3            24900        Brekke LTD  350000.0  ...   27  2015   True
4           651029         Harbor Co   15000.0  ...    2  2014  False

[5 rows x 10 columns]

In [32]:
df.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active                bool
dtype: object

In [33]:
pd.to_numeric(df['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [34]:
pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

In [35]:
pd.to_datetime(df[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [36]:
df["Start_Date"] = pd.to_datetime(df[['Month', 'Day', 'Year']])
df["Jan Units"] = pd.to_numeric(df['Jan Units'], errors='coerce').fillna(0)

In [37]:
df_1 = df.drop(df[['Month', 'Day', 'Year']],axis=1)

In [38]:
df_1

   Customer Number     Customer Name      2016  ...  Jan Units  Active  Start_Date
0            10002  Quest Industries  125000.0  ...      500.0    True  2015-01-10
1           552278    Smith Plumbing  920000.0  ...      700.0    True  2014-06-15
2            23477   ACME Industrial   50000.0  ...      125.0    True  2016-03-29
3            24900        Brekke LTD  350000.0  ...       75.0    True  2015-10-27
4           651029         Harbor Co   15000.0  ...        0.0   False  2014-02-02

[5 rows x 8 columns]

In [39]:
df

   Customer Number     Customer Name      2016  ...  Year  Active  Start_Date
0            10002  Quest Industries  125000.0  ...  2015    True  2015-01-10
1           552278    Smith Plumbing  920000.0  ...  2014    True  2014-06-15
2            23477   ACME Industrial   50000.0  ...  2016    True  2016-03-29
3            24900        Brekke LTD  350000.0  ...  2015    True  2015-10-27
4           651029         Harbor Co   15000.0  ...  2014   False  2014-02-02

[5 rows x 11 columns]

In [40]:
df.dtypes

Customer Number             int64
Customer Name              object
2016                      float64
2017                      float64
Percent Growth            float64
Jan Units                 float64
Month                       int64
Day                         int64
Year                        int64
Active                       bool
Start_Date         datetime64[ns]
dtype: object

In [41]:
df_2 = pd.read_csv("https://github.com/dm-fedorov/pandas_basic/blob/master/%D0%B1%D1%8B%D1%81%D1%82%D1%80%D0%BE%D0%B5%20%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B2%20pandas/data/sales_data_types.csv?raw=True", 
                   dtype={'Customer Number': 'int'},
                   converters={'2016': convert_currency,
                               '2017': convert_currency,
                               'Percent Growth': convert_percent,
                               'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
                               'Active': lambda x: np.where(x == "Y", True, False)
                              })

In [42]:
df_2

   Customer Number     Customer Name      2016  ...  Day  Year  Active
0            10002  Quest Industries  125000.0  ...   10  2015    True
1           552278    Smith Plumbing  920000.0  ...   15  2014    True
2            23477   ACME Industrial   50000.0  ...   29  2016    True
3            24900        Brekke LTD  350000.0  ...   27  2015    True
4           651029         Harbor Co   15000.0  ...    2  2014   False

[5 rows x 10 columns]

In [43]:
df_2.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object